
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Insert</title>
</head>
<body>
    <div class="container">
        <form asp-action="Insert" asp-controller="Cinema">
            <div class="form-group">
                <input class="form-control" />
            </div>
        </form>
    </div>
</body>
</html>
